/* CSS 애니메이션 정의 */

.fullsize-img {
	width: 100vw;
	height: 100vh;
	position: absolute;
}

.ticket1_front {
	width: 32.3vw;
	height: 17.5vh;
	margin-left: 12.9vw;
	margin-top: 76vh;
	position: absolute;
}

.ticket1_back {
	width: 33.3vw;
	height: 19.2vh;
	margin-left: 12.3vw;
	margin-top: 75vh;
	position: absolute;

	display: none;
}

.ticket2_front {
	width: 33vw;
	height: 18.7vh;
	margin-left: 53.6vw;
	margin-top: 75.6vh;
	position: absolute;
}

.ticket2_back {
	width: 33vw;
	height: 18.7vh;
	margin-left: 53.6vw;
	margin-top: 75.6vh;
	position: absolute;

	display: none;
}

.chi_poster {
	width: 32.4vw;
	height: 70.4vh;
	margin-left: 54.1vw;
	margin-top: 4.89vh;
	position: absolute;
}

.tree1 {
	width: 9vw;
	height: 17vh;
	margin-left: 13.3vw;
	margin-top: 38vh;
	position: absolute;

	animation-name: tree1;
	animation-duration: 0.25s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.tree2 {
	width: 10vw;
	height: 17vh;
	margin-left: 35.3vw;
	margin-top: 36.6vh;
	position: absolute;

	animation-name: tree2;
	animation-duration: 0.2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.bike {
	width: 2.8vw;
	height: 2.5vh;
	margin-left: 22vw;
	margin-top: 56.7vh;
	position: absolute;

	animation-name: bike;
	animation-duration: 8s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.ams_boat {
	width: 30vw;
	height: 17vh;
	margin-left: 14.2vw;
	margin-top: 57.5vh;
	position: absolute;

	animation-name: ams_boat;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;

}

.cloud1 {
	width: 13vw;
	height: 11.5vh;
	margin-left: 14vw;
	margin-top: 12vh;
	position: absolute;

	animation-name: cloud1;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;

}

.cloud2 {
	width: 7vw;
	height: 9vh;
	margin-left: 23vw;
	margin-top: 21vh;
	position: absolute;

	animation-name: cloud2;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.cloud3 {
	width: 14vw;
	height: 15vh;
	margin-left: 30.8vw;
	margin-top: 10.5vh;
	position: absolute;

	animation-name: cloud3;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;

}

.big_airplane {
	width: 9vw;
	height: 11vh;
	margin-left: 45vw;
	margin-top: 30vh;
	position: absolute;

	animation-name: big_airplane;
	animation-duration: 6s;
	animation-iteration-count: infinite;
}

.small_airplane {
	width: 2.7vw;
	height:4vh;
	margin-left: 70vw;
	margin-top: 14vh;
	position: absolute;

	animation-name: small_airplane;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}

.cloud {
	width: 4vw;
	height: 5vh;
	margin-left: 78vw;
	margin-top: 8vh;
	position: absolute;

	animation-name: cloud;
	animation-duration: 8s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.boat {
	width: 5.5vw;
	height: 7vh;
	margin-left: 79vw;
	margin-top: 53vh;
	position: absolute;

	animation-name: boat;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.wave1 {
	width: 1.25vw;
	height: 1vh;
	margin-left: 67vw;
	margin-top: 57vh;
	position: absolute;

	animation-name: wave1;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.wave2 {
	width: 1.25vw;
	height: 1vh;
	margin-left: 64.5vw;
	margin-top: 62vh;
	position: absolute;

	animation-name: wave2;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.wave3 {
	width: 1.25vw;
	height: 1vh;
	margin-left: 74.4vw;
	margin-top: 54vh;
	position: absolute;

	animation-name: wave3;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.wave4 {
	width: 1.25vw;
	height: 1vh;
	margin-left: 83vw;
	margin-top: 67vh;
	position: absolute;

	animation-name: wave4;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.wave5 {
	width: 1.25vw;
	height: 1vh;
	margin-left: 75vw;
	margin-top: 33vh;
	position: absolute;

	animation-name: wave5;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.small_boat1 {
	width: 1.75vw;
	height: 2.8vh;
	margin-left: 72vw;
	margin-top: 58vh;
	position: absolute;

	animation-name: small_boat1;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
.small_boat2 {
	width: 1.75vw;
	height: 2.8vh;
	margin-left: 66vw;
	margin-top: 54vh;
	position: absolute;

	animation-name: small_boat2;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.small_boat3 {
	width: 1.75vw;
	height: 2.8vh;
	margin-left: 82vw;
	margin-top: 68vh;
	position: absolute;

	animation-name: small_boat3;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.small_boat4 {
	width: 1.75vw;
	height: 2.8vh;
	margin-left: 76vw;
	margin-top: 26vh;
	position: absolute;

	animation-name: small_boat4;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.small_boat5 {
	width: 1.75vw;
	height: 2.8vh;
	margin-left: 73vw;
	margin-top: 52vh;
	position: absolute;

	animation-name: small_boat5;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.small_boat6 {
	width: 1.75vw;
	height: 2.8vh;
	margin-left: 74vw;
	margin-top: 52vh;
	position: absolute;

	animation-name: small_boat6;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.small_boat7 {
	width: 1.75vw;
	height: 2.8vh;
	margin-left: 57vw;
	margin-top: 65vh;
	position: absolute;

	animation-name: small_boat7;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}


@-webkit-keyframes tree1 {
	0% {
		width: 9vw;
		height: 17vh;
		margin-left: 13.3vw;
	}
	
	100% {
		width: 9.3vw;
		height: 17.5vh;
		margin-left: 13.25vw;
	}
}

@-webkit-keyframes tree2 {
	from {
		width: 10vw;
		height: 17vh;
		margin-left: 35.3vw;
	}
	
	to {
		width: 10.2vw;
		height: 17.3vh;
		margin-left: 35.25vw;
	}
}

@-webkit-keyframes cloud1 {
	from {
		margin-top: 12vh;
	}

	to {
		margin-top: 13vh;
	}
}

@-webkit-keyframes cloud2 {
	from {
		margin-top: 21vh;
	}

	to {
		margin-top: 20.7vh;
	}
}

@-webkit-keyframes cloud3 {
	from {
		margin-top: 10.5vh;
	}

	to {
		margin-top: 11vh;
	}
}

@-webkit-keyframes ams_boat {
	from {
		margin-top: 57.7vh;
	}

	to {
		margin-top: 57vh;
	}
}

@-webkit-keyframes bike {
	from {
		margin-left: 22vw;
	}

	to {
		margin-left: 36vw;
	}
}



@-webkit-keyframes big_airplane {
	0% {
		margin-left: 45vw;
		margin-top: 30vh;
	
	}

	100% {
		margin-left: 88vw;
		margin-top: 40vh;
	}
}

@-webkit-keyframes small_airplane {
	0% {
		margin-left: 70vw;
		margin-top: 14vh;
	}

	100% {
		margin-left: 50vw;
		margin-top: 6vh;
	}
}

@-webkit-keyframes cloud {
	0% {
		margin-left: 78vw;
    	margin-top: 8vh;
	}

	20% {
		margin-left: 79vw;
    	margin-top: 8.5vh;
	}

	40% {
		margin-left: 80vw;
    	margin-top: 8vh;
	}

	60% {
		margin-left: 81vw;
    	margin-top: 8.5vh;
	}

	80% {
		margin-left: 82vw;
    	margin-top: 8vh;
	}

	100% {
		margin-left: 83vw;
    	margin-top: 8.5vh;
	}
}

@-webkit-keyframes boat {
	0% {
		 margin-left: 79vw;
    	margin-top: 53vh;
	}

	20% {
		margin-left: 80vw;
    	margin-top: 53.5vh;
	}

	40% {
		margin-left: 81vw;
    	margin-top: 53vh;
	}

	60% {
		margin-left: 82vw;
    	margin-top: 53.5vh;
	}

	80% {
		margin-left: 83vw;
    	margin-top: 53vh;
	}

	100% {
		margin-left: 84vw;
    	margin-top: 53.5vh;
	}
}

@-webkit-keyframes wave1 {
	0% {
		margin-top: 57vh;
	}

	100% {
		margin-top: 57.3vh;
	}
}


@-webkit-keyframes wave2 {
	0% {
		margin-top: 62vh;
	}

	100% {
		margin-top: 61.9vh;
	}
}


@-webkit-keyframes wave3 {
	0% {
		margin-top: 54vh;
	}

	100% {
		margin-top: 54.1vh;
	}
}


@-webkit-keyframes wave4 {
	0% {
		margin-top: 67vh;
	}

	100% {
		margin-top: 66.9vh;
	}
}


@-webkit-keyframes wave5 {
	0% {
		margin-top: 33vh;
	}

	100% {
		margin-top: 32.9vh;
	}
}

@-webkit-keyframes small_boat1 {
	0% {
		margin-top: 58vh;
	}
	
	100% {
		margin-top: 58.3vh;
	}
}

@-webkit-keyframes small_boat2 {
	0% {
		margin-top: 54vh;
	}
	
	100% {
		margin-top: 54.3vh;
	}
}

@-webkit-keyframes small_boat3 {
	0% {
		margin-top: 68vh;
	}
	
	100% {
		margin-top: 68.3vh;
	}
}
@-webkit-keyframes small_boat4 {
	0% {
		margin-top: 26vh;
	}
	
	100% {
		margin-top: 26.3vh;
	}
}
@-webkit-keyframes small_boat5 {
	0% {
		margin-top: 52vh;
	}
	
	100% {
		margin-top: 51.7vh;
	}
}
@-webkit-keyframes small_boat6 {
	0% {
		margin-top: 52vh;
	}
	
	100% {
		margin-top: 51.7vh;
	}
}
@-webkit-keyframes small_boat7 {
	0% {
		margin-top: 65vh;
	}
	
	100% {
		margin-top: 65.3vh;
	}
}



/* 	animation-name: tree1;
	animation-duration: 0.25s;
	animation-iteration-count: infinite;
	animation-direction: alternate;

